* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
}

:root{
    font-size: 16px;
    --header-height: 1.5rem;
    --header-padding: 1rem;
    scroll-behavior: smooth;
}

.dark{
    color: #eee;
    background: linear-gradient(90deg, #0b0f37, #28338f);
    --primary-color: #eee;
    --secondary-color: #0b0f37;
    --neon-color: #56ff56;
    --light-color: white;
}

.light{
    color: #000;
    background: linear-gradient(90deg, #efb3c5, #f8dde5);
    --primary-color: #0b0f37;
    --secondary-color: #eee;
    --neon-color: #111;
    --light-color: orange;
}

body{
    background-position: fixed;
    background-size: cover;
    max-width: 960px;
    margin: auto;
}

header{
    height: var(--header-height);
    padding: var(--header-padding);
    background: linear-gradient(90deg, #000, #222);
    position: sticky;
    top: 0;
    z-index: 9999;
}

a{
    color: #fff;
}

a:hover{
    text-shadow: 0 0 10px white;
}

nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    nav img{
        width: 20px;
    }

    nav button:hover{
        box-shadow: 0 0 20px white;
    }

    .md-nav{
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #dark-mode-btn{
        border: none;
        border-radius: 9999px;
        background: transparent;
        color: white;
        padding: 0.5rem;
        transition: all 150ms ease-in-out;
        cursor: pointer;
    }

    #dark-mode-btn:hover{
        transform: scale(1.1);
        box-shadow: 0 0 10px var(--light-color);
    }

    .sm-nav{
        display: none;
    }

p{
    text-align: justify;
}

main *{
    margin-bottom: 1rem;
}

section{
    padding: var(--header-padding);
    width: 80%;
    margin: auto;
}

.anchor{
    content: ""; 
    display: block; 
    height: calc(var(--header-height) + var(--header-padding));
    margin: calc(-1 * (var(--header-height) + var(--header-padding))) 0 0;
    visibility: hidden;
}

.anchor-header{
    background: black;
    color: #eee;
    padding: 1rem;
    border-radius: 10px;
}

    /* About section styles */

    #about-section{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }

    #about-img-container{
        display: flex;
    }

    #about-img-container img{
        width: 300px;
        border: 2px solid var(--neon-color);
        border-radius: 9999px;
        box-shadow: 0 0 20px var(--neon-color);
        transition: all 250ms ease-in-out;
    }

        #about-img-container img:hover{
            box-shadow: 0 0 40px var(--neon-color);
            transform: translateX(0.1rem) translateY(-0.1rem);
        }

    #about-desc-container{
        text-align: center;
        padding: 1rem;
    }

        #about-desc-container *{
            margin-bottom: 1rem;
        }

    /* Skill section styles */

    .skills-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 1rem;
    }

        .skills-container div{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        .skills-container div *{
            margin-bottom: 0;
        }

        .skills-container div img{
            height: 100px;
        }

        .skill-caption{
            font-size: 16px;
        }
    
    /* Project section styles */

    .project-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .project-container .project-logo{
            max-width: 400px;
        }

        .project-title, .project-subtitle{
            margin: 0;
            padding: 0;
        }

            .project-title{
                font-weight: bold;
            }

            .project-subtitle{
                margin-bottom: 1.5rem;
                text-decoration:overline;
            }

        .project-container img{
            max-width: 300px;
        }

        .project-tech-container{
            border: 2px solid var(--primary-color);
            border-radius: 20px;
            text-align: center;
            padding: 1rem;
        }

        .project-tech-logo-container{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }

            .project-tech-logo-container *{
                height: 50px;
                transition: all 150ms ease-in-out;
            }

            .project-tech-logo-container *:hover{
                transform: scale(1.1);
            }

            .project-tech-logo-container *::before, .project-tech-logo-container *::after{
                --scale: 0;
                --tooltip-color: var(--primary-color);

                position: absolute;
                top: 110%;
                left: 50%;
                transform: translateX(-50%) scale(var(--scale));
                transition: transform 0.20s;
                transform-origin: top center;
            }

            .project-tech-logo-container *::before{
                content: attr(tooltip);
                pointer-events: none;
                color: var(--secondary-color);
                text-align: center;
                padding: 0.5rem;
                width: max-content;
                background-color: var(--tooltip-color);
                border-radius: 10px;
            }
            
            .project-tech-logo-container *:hover::before{
                --scale: 1;
            }

        .yt-video{
            width: 560px;
            height: 315px;
        }

    .contacts-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .contact-link{
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 9999px;
            color: var(--primary-color);
            transition: all 150ms ease-in-out;
        }

        .contact-link:hover{
            transform: scale(1.1);
            color: var(--neon-color);
        }
        

@media only screen and (max-width: 768px) {
    :root{
        font-size: 14px;
    }

    body{
        width: 100%;
    }

    #about-section{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #about-img-container img{
        margin: auto;
        width: 300px;
    }

    .skills-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 1rem;
    }

        .skills-container div img{
            height: 75px;
        }

    .project-container .project-logo{
        max-width: 300px;
    }
    
    .project-title{
        font-size: 1.5rem;
    }

    .project-subtitle{
        font-size: 0.75rem;
    }
    
    .project-tech-logo-container *{
        height: 35px;
        transition: all 150ms ease-in-out;
    }

    .yt-video{
        width: 450px;
        height: 253.125px;
    }
}

@media only screen and (max-width: 480px){
    section{
        width: 90%;
    }

    #about-img-container img{
        margin: auto;
        width: 80%;
    }

    .skills-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1rem;
    }

    .project-container .project-logo{
        max-width: 200px;
    }

    .yt-video{
        width: 300px;
        height: 168.75px;
    }
    
    .md-nav{
        display: none;
    }

    .sm-nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}